<div class="">
    <form action="" method="post">
        <input type="hidden" name="id_turma" value="{{id_turma}}">
        <input type="hidden" name="id_estudante" value="{{id_estudante}}">
        <div class="row">
            <div class="col s12 center">
                <p class="center" style="font-size: x-large;">
                    Deseja realmente remover <span style="font-size: xx-large;font-weight: bold;">{{nome}}</span> 
                    da turma <span style="font-size: xx-large;font-weight: bold;">{{turma}}</span> ?
                </p>
            </div>
        </div>
        <div class="row center">
            <div class="col s12">
                <input type="submit" value="Eliminar" name='add' class="btn green">
                <a href="{{URL}}/estudantes" class="btn red">Cancelar</a>
            </div>
        </div>
            <p class='erro red-text center'>{{erro}}</p>
        
    </form>
</div>            