<div class="formulario">
    <form action="" method="post">
        <div class="row">
            <div class="col s12 m5 input-field">
                <input type="text" name="nome" value="{{nome}}">
                <label for="nome">Nome</label>
            </div>
            <div class="col s12 m5 push-m1 input-field">
                <input type="email" name="email" value="{{email}}">
                <label for="email">Email</label>
            </div>
            <div class="col s12 m5  input-field">
                {{turmas}}
                <label>Turma</label>
            </div>
            
            <div class="col s12 m5 push-m1 input-field">
                <span class="grey-text">Data de Nascimento:</span>
                <input type="date" name="data" id="">
                
            </div>
        </div>
        <div class="row center">
            <div class="col s12">
                <input type="submit" value="Adicionar" name='add' class="btn green">
                <a href="turmas.php" class="btn red">Cancelar</a>
            </div>
        </div>
            <p class='erro red-text center'>{{erro}}</p>
        
    </form>
</div>            