<div class="formulario">
    <form action="" method="post">
        <div class="row">
            <div class="col s12 m6 input-field push-m3">
                <input type="text" name="descricao" value="{{descricao}}">
                <label for="nome">Descrição da Turma</label>
            </div>
        </div>
        <div class="row center">
            <div class="col s12">
                <input type="submit" value="Adicionar" name='add' class="btn green">
                <a href="turmas" class="btn red">Cancelar</a>
            </div>
        </div>
            {{status}}
        
    </form>
</div>            