<div class="cards">
    <div class="row">
        <div class="col s12 m3">
            <div class="card red white-text">
                <div class="card-content">
                    <h5 class="light">{{text1}}</h5>
                    <h5>{{value1}}</h5>
                </div>
            </div>
        </div>
        
        <div class="col s12 m3">
            <div class="card indigo white-text">
                <div class="card-content">
                    <h5 class="light">{{text2}}</h5>
                    <h5>{{value2}}</h5>
                </div>
            </div>
        </div>
        
        <div class="col s12 m3">
            <div class="card green white-text">
                <div class="card-content">
                    <h5 class="light">{{text3}}</h5>
                    <h5>{{value3}}</h5>
                </div>
            </div>
        </div>
        
        <div class="col s12 m3">
            <div class="card horizontal  deep-orange white-text">
                <div class="card-content">
                    <h5 class="light">{{text4}}</h5>
                    <h5>{{value4}}</h5>
                </div>
            </div>
        </div>

    </div>
</div>