<div class="navigation col s2 ">
    <div class="logo center white-text">
        <span class="light"><i class="fa fa-leaf fa-1x"></i>MARKER</span>
    </div>
    <div class="list-group white-text">
        <a href="{{URL}}/" class="list-group-item white-text"><i class="fa fa-home fa-fw" aria-hidden="true"></i>
            Home
        </a>
        <a href="{{URL}}/marcacoes" class="list-group-item white-text"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>
            Marcação
        </a>
        <a href="{{URL}}/estudantes" class="list-group-item white-text"><i class="fa fa-list fa-fw" aria-hidden="true"></i>
            Estudantes
        </a>
        <a href="{{URL}}/turmas" class="list-group-item white-text"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>
            Turmas
        </a>
        {{usuarios}}
        
        <a href="{{URL}}/perfil" class="list-group-item white-text"><i class="fa fa-user fa-fw" aria-hidden="true"></i>
            Meu Perfil
        </a>

        <a href="{{URL}}/logout" class="list-group-item white-text"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>
            Sair
        </a>
    </div>
</div>