<div class="row">
    <form action="" method="post" class="form-horizontal-one-line ">
            <div class="col s12 m2 input-field ">
                {{turmas}}
                <label>Turma</label>
            </div>
            <div class="col s6 m3 btn-buscar">
                <input type="submit" value="Buscar Estudantes" name="buscar" class="btn green">
            </div>
            <div class="col s6 m4 btn-buscar" style="margin-top: 10px;">
                {{status}}
            </div>
    </form>
</div>
{{resultados}}
{{pagination}}