<div class="row" style="font-weight: bold;">
    <div class="col s12 ">
        <h5 style="font-weight: bold;">Nome: <span style="font-weight: normal;">{{nome}}</span></h3>
    </div>
    <div class="col s12 ">
        <h5 style="font-weight: bold;">Email: <span style="font-weight: normal;">{{email}}</span></h3>
    </div>
    <div class="col s12 ">
        <h5 style="font-weight: bold;">Nivel de Acesso: <span style="font-weight: normal;">{{acesso}}</span></h3>
    </div>
</div>
<div class="row">
    <form action="" method="post">
        <fieldset style="width: 50%;">
            <legend>Nova Senha</legend>
            <div class="col s12 m6 input-field">
                <input type="password" name="senha" id="">
            </div>
            <div class="col s12 m4 input-field">
                <input type="submit" name="alterar" id="" value="Guardar" class="btn green">
            </div>
        </fieldset>
    </form>
</div>
<div class="row">
    {{status}}
</div>